<!DOCTYPE html>
<html>
<head>
  <title>Quản lý intern</title>
   <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="sidebar">
  <h2>Menu</h2>
  <ul>
    <li>Trang chủ</li>
    <li>Danh sách intern</li>
    <li>Lịch lên công ty</li>
    <li>Thêm intern</li>
    <li>Sửa intern</li>
    <li>Xóa intern</li>
  </ul>
</div>

<div class="content">
  <img th:src="@{/image/tinasoft-logo.jpg}" alt="logo" id="logo1" width="15%" height="15%">
  <h2>Danh sách intern</h2>
  <input type="text" id="searchInput" placeholder="Tìm kiếm intern...">
  <table id="internTable">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Position</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Vi Trung Kien</td>
      <td>Java Backend</td>
      <td>0343579228</td>
      <td>vtkien2511@gmail.com</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Ma Dinh Chien</td>
      <td>Java Backend</td>
      <td>0866638820</td>
      <td>chienft@gmail.com</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>
        <tr>
      <td>3</td>
      <td>Bui Trung Duc</td>
      <td>Java Backend</td>
      <td>0343579228</td>
      <td>ducbt@stu.ptit.edu.vn</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>
        <tr>
      <td>4</td>
      <td>Tran Duc Luong</td>
      <td>Java Backend</td>
      <td>0343579228</td>
      <td>luongtd@stu.ptit.edu.vn</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>
        <tr>
      <td>5</td>
      <td>Minh Quan</td>
      <td>Java Backend</td>
      <td>0343579228</td>
      <td>quanmn@stu.ptit.edu.vn</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Nguyen Thi Loan</td>
      <td>Tester</td>
      <td>0343579228</td>
      <td>loannt@stu.ptit.edu.vn</td>
      <td>Mo Lao, Ha Dong</td>
    </tr>

    <!-- Các dòng dữ liệu intern khác -->
  </table>
  <div id="pagination">
    <button onclick="previousPage()">Trang trước</button>
    <button onclick="nextPage()">Trang sau</button>
  </div>
</div>

<script th:src="@{/script.js}"></script>
</body>
</html>




















